extends layout
block content
    div
        each t in top
            img(src='/images/gifs/#{t.filename}' class="gifs")
    div
        each r in random
            img(src='/images/gifs/#{r.filename}' class="gifs")
    script(type='text/javascript').
        setTimeout(function(){
           window.location.reload(1);
        }, 10000);
