doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      div
        img(src='/images/commiterate_logo.png' class='logo')
        img(src='/images/mvp_stamp.png' class='stamp')
      hr

    block content