body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.stamp {
    opacity: 0.75;
    margin-bottom: 50px;
    margin-top: -40px;
    margin-left: -27px;
    height: 100px;
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Chrome, Safari, Opera */
    transform: rotate(-20deg);
}
.gifs {
    padding: 5px;
    width: 25%;
    box-sizing: border-box;
}

.logo {
    height: 100px;
    margin-left: 50px;
    margin-bottom: 20px;
}